cSharp/Connected Services/wsTesoreria/Tesoreria.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Tesoreria" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://190.171.26.128:81/Tesoreria.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://190.171.26.128:81/Tesoreria.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITesoreria_GuardarBancos_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarBancos" />
  </wsdl:message>
  <wsdl:message name="ITesoreria_GuardarBancos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarBancosResponse" />
  </wsdl:message>
  <wsdl:message name="ITesoreria_GuardarAntiguedadCXC_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarAntiguedadCXC" />
  </wsdl:message>
  <wsdl:message name="ITesoreria_GuardarAntiguedadCXC_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarAntiguedadCXCResponse" />
  </wsdl:message>
  <wsdl:message name="ITesoreria_GuardarInventario_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarInventario" />
  </wsdl:message>
  <wsdl:message name="ITesoreria_GuardarInventario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarInventarioResponse" />
  </wsdl:message>
  <wsdl:message name="ITesoreria_GuardarImpuesto_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarImpuesto" />
  </wsdl:message>
  <wsdl:message name="ITesoreria_GuardarImpuesto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarImpuestoResponse" />
  </wsdl:message>
  <wsdl:message name="ITesoreria_GuardarTipoCambio_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarTipoCambio" />
  </wsdl:message>
  <wsdl:message name="ITesoreria_GuardarTipoCambio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarTipoCambioResponse" />
  </wsdl:message>
  <wsdl:message name="ITesoreria_Init_InputMessage">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="ITesoreria_Init_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:portType name="ITesoreria">
    <wsdl:operation name="GuardarBancos">
      <wsdl:input wsaw:Action="http://tempuri.org/ITesoreria/GuardarBancos" message="tns:ITesoreria_GuardarBancos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITesoreria/GuardarBancosResponse" message="tns:ITesoreria_GuardarBancos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarAntiguedadCXC">
      <wsdl:input wsaw:Action="http://tempuri.org/ITesoreria/GuardarAntiguedadCXC" message="tns:ITesoreria_GuardarAntiguedadCXC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITesoreria/GuardarAntiguedadCXCResponse" message="tns:ITesoreria_GuardarAntiguedadCXC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarInventario">
      <wsdl:input wsaw:Action="http://tempuri.org/ITesoreria/GuardarInventario" message="tns:ITesoreria_GuardarInventario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITesoreria/GuardarInventarioResponse" message="tns:ITesoreria_GuardarInventario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarImpuesto">
      <wsdl:input wsaw:Action="http://tempuri.org/ITesoreria/GuardarImpuesto" message="tns:ITesoreria_GuardarImpuesto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITesoreria/GuardarImpuestoResponse" message="tns:ITesoreria_GuardarImpuesto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarTipoCambio">
      <wsdl:input wsaw:Action="http://tempuri.org/ITesoreria/GuardarTipoCambio" message="tns:ITesoreria_GuardarTipoCambio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITesoreria/GuardarTipoCambioResponse" message="tns:ITesoreria_GuardarTipoCambio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Init">
      <wsdl:input wsaw:Action="http://tempuri.org/ITesoreria/Init" message="tns:ITesoreria_Init_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITesoreria/InitResponse" message="tns:ITesoreria_Init_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITesoreria" type="tns:ITesoreria">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarBancos">
      <soap:operation soapAction="http://tempuri.org/ITesoreria/GuardarBancos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarAntiguedadCXC">
      <soap:operation soapAction="http://tempuri.org/ITesoreria/GuardarAntiguedadCXC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarInventario">
      <soap:operation soapAction="http://tempuri.org/ITesoreria/GuardarInventario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarImpuesto">
      <soap:operation soapAction="http://tempuri.org/ITesoreria/GuardarImpuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarTipoCambio">
      <soap:operation soapAction="http://tempuri.org/ITesoreria/GuardarTipoCambio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Init">
      <soap:operation soapAction="http://tempuri.org/ITesoreria/Init" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tesoreria">
    <wsdl:port name="BasicHttpBinding_ITesoreria" binding="tns:BasicHttpBinding_ITesoreria">
      <soap:address location="http://190.171.26.128:81/Tesoreria.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>